<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="com.tedu.cloud_note_1.dao.LoadNoteBodyDao">
 	<select id="findNoteBodyByNoteId" parameterType="String" 
 		resultType="com.tedu.cloud_note_1.entity.Note">
 		select * from cn_note where cn_note_id=#{noteId}
 	</select>
 </mapper>